.App{
    font-family: sans-serif;
    text-decoration: none;
}
.container{
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.container input{
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
  height: 30px;
}
.container button{
  border: 1px solid;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: black;
}
.container button:hover{
  cursor: pointer;
  background-color: #B7D4E5;
  color: black;
}
.button{  
  display: flex;
  justify-content: flex-end;
}
.buttonNew{  
  display: flex;
  justify-content:center;
}
.buttonNew:hover{
  cursor: pointer;
  color: black;
  font-size: 20px;
}
.Home{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.img_produto{
  background-color: black;
  height: 150px;
}
.Cards{
  margin: 20px 10px 20px 10px;
  border: 1px solid;
  border-radius: 5px;
}
.Cards p{
  margin: 10px;
  font-weight: bold;
}
.Cards:hover{
  cursor: pointer;
  margin: 1%;
  color: black;
}
.Menu{
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding:  0 30px 0 30px;
  margin-bottom: 10px;
}
.Menu p{
  color: white;
  font-size: 20px;
}
.Menu p:hover{
  cursor: pointer;
  background-color: #B7D4E5;
  color: black;
  padding: 0 2px 0 2px;
}
hr{
  width: 90%;
}
.CardCarrinho{
  margin: 20px 10px 20px 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.CardCarrinho p{
  margin: 10px;
  font-weight: bold;
}
.buttonCarrinho{
  margin: 10px;
}
.CardCarrinho .remover:hover{
  background-color: red;
}
.banco{
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;  
  font-weight: bold;
}
.container fieldset{
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.banco input{
  margin: 10px;
}
.banco p{
  margin: 5px;
}
.container .pagamento{
  width: 60%;
  padding: 20px;
}
.container .pagamento fieldset{
  background-color: #B7D4E5;
}
.carrinho{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.containerCarrinho p{
  font-weight: bold;
}
.MenuCompras{
  background-color: black;
}
.porAprovar{
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
}